/* design page box style */

.deWeBoxes {width: 100%; height: auto; overflow: hidden;}
.deWeBoxes .deWeBox {
  width: 25%;
  height: auto;
  _border: 1px solid;
  float: left;
  padding: 5px; 
}

.deWeBoxes .deWeBox.webBox{width: 33.33%;} 

.deWeBoxes .deWeBox > div {
  width: 100%;
  height: 100%;
  border: 1px solid #d0af51;
  padding: 5px;
  position: relative;
}

.deWeBoxes .deWeBox > div .boxOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(208, 175, 81, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.deWeBox:hover > div .boxOverlay {
  opacity: 1;
  visibility: visible;
}

.deWeBoxes .boxOverlay i.fa {
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deWeBoxes .boxOverlay:hover i.fa {
}

.deWeBoxes .deWeBox .deWeImg {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deWeBoxes .deWeBox .deWeImg img {
  width: 100%;
}

.deWeBoxes .deWeBox .deWeTxt {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
}
.deWeBoxes .deWeBox .deWeTxt h2 {
  color: #d0af51;
  font-weight: 400;
  margin-bottom: 10px;
}
.deWeBoxes .deWeBox .deWeTxt em {
  font-style: normal;
  line-height: 1.4;
}

/*  
.designBox .designTxt에 p 대신 div넣은 이유
인라인 태그 안에 블록 요소를 넣으면 밖으로 빠져나감
h2안에 p넣거나 p안에 div넣으면 빠져나가는 경우가 있다. 

 */

/* buttons style */
.btns {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  justify-content: center;
  transition: all 0.3s;
}
.btns .commonBtn {
  margin-right: 1px;
  transition: all 0.3s;
}

.btns .commonBtn:hover {
  background: #d0af51;
  color: #fff;
}

/* *************
design detail page style
************** */

/* design detail left box style */
.deWeLeft {width: 60%; height: auto; float: left;}
.dewebDetail .title {float: none; margin-bottom: 50px;}
.dewebDetail .title a {width: 20%;}
.dewebDetail .title a:hover {
  width: 20%;
}

.dewebDetail .title:hover .line {
  width: 20%;
}

.detailCon {
  width: 100%;
  height: auto; padding-right: 20%;
}

.detailCon .detailImg1 {
  width: 100%;
  height: auto;
  float: right;
}
.detailCon .detailImg1 .imgBox {
  width: 100%;
  height: auto;
  _float: right;
  border: 1px solid #d0af51;
  padding: 10px;
  margin: auto;
}
.detailCon .detailImg1 img {
  width: 100%;
}

.deWeLeft .imgNav {
  width: 100%;
  height: auto;
  padding: 5px 0;
}
.deWeLeft .imgNav a {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  _padding: 5px;
  border: 5px solid #fff;
  _outline: 1px solid #d0af51;
  position: relative;
}
.deWeLeft .imgNav > a > img {
  height: 100%;
  /* width: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deWeLeft a .dotOverlay{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(208, 175, 81, 0.6);}

.deWeLeft .imgNav a.active{outline: 1px solid #d0af51;}
.deWeLeft a.active .dotOverlay{display: none;}

.detailInfo{width: 100%; height: auto; padding: 5px 0 10px 0; font-weight: 300; color: #d0af51;}

.detailDesc p{color: #838383; font-weight: 300;}
.detailDesc a{display:flex; width:100%; align-items:center; padding:10px 0; color:#d0af51;}
.detailDesc i.fa{width: 25px; height: 25px; border:1px solid #d0af51; border-radius:50%; display:flex; align-items:center; justify-content:center; color:#d0af51; margin-right:10px;}




/* design and web detail right box style */

.deWeRight{width: 40%; height: auto; float: right; padding-left: 5%;}
.deWeRight .detailWeb{width: 100%; height: auto; margin-bottom: 25px;}
.deWeRight .webTit,
.deWeRight .appTit{width: 100%; height: auto; padding:0 0 15px 0; border-bottom:1px solid #d0af51; display:flex; justify-content: space-between; align-items: baseline; }
.deWeRight .webTit h2,
.deWeRight .appTit h2{font-size:22px; font-weight:500; text-transform:uppercase;}
.deWeRight .webTit a,
.deWeRight .appTit a{color:#d0af51; }
.deWeRight .webTit a:hover,
.deWeRight .appTit a:hover{text-decoration: underline;}



.deWeRight .detailWeb .webLinks,
.deWeRight .detailApp .appLinks{width: 100%; height: auto; display: flex; padding: 10px 0;border-bottom: 1px dotted #838383;}

.deWeRight .webLinks .subWebImg,
.deWeRight .appLinks .subAppImg{width:40%; height: auto; overflow: hidden; _background: url(/Gold/img/new-arrival-3.jpg) no-repeat center center;} 
/* 이미지를 백그라운드로 넣거나 html 작성 시 img 태그로 넣는다! */

.deWeRight .webLinks .subWebImg img,
.deWeRight .appLinks .subAppImg img{width: 100%;}

.deWeRight .webLinks .subWebTxt,
.deWeRight .appLinks .subAppTxt{width: 60%; padding-left:10px; display: flex; flex-direction: column; justify-content: center;}

.deWeRight .webLinks .subWebTxt a,
.deWeRight .appLinks .subAppTxt a{font-weight:600; font-size:16px; color:#d0af51; }

.deWeRight .webLinks .subWebTxt a:hover,
.deWeRight .appLinks .subAppTxt a:hover{text-decoration: underline;}

.deWeRight .webLinks .subWebTxt em,
.deWeRight .appLinks .subAppTxt em{color:#838383; font-weight: 300; font-style: normal;}


/* *************
web page style
************** */

.web .webBoxBtns{width: 100%; height: auto; display: flex; justify-content: space-between; margin-top: 10px;} 
.web .webBoxBtns a{_display: inline-block; text-align: center; width: 49%; padding: 10px 0; border:1px solid #d0af51; color: #d0af51; transition: all 0.4s;}
.web .webBoxBtns a:nth-child(1),
.web .webBoxBtns a:hover{background: #d0af51; color: #fff;}


/* *************
web detail page style
************** */
.webDetail .webTabBtns button{width: 100px; text-align: center; background: #fff; border: 1px solid #d0af51; color: #d0af51; padding: 10px 0; transition: all 0.4s;}
.webDetail .webTabBtns button:hover,
.webDetail .webTabBtns button.active{color: #fff; background: #d0af51;}


/* pc frame style */

.webDetail .webBox{width: 100%; height: 450px; margin-top: 20px; position: relative; _display: none;}
.webDetail .webBox .webPcFrame{width: 100%; height: 100%; }
.webDetail .webBox .webPcFrame img{width: 100%; position: absolute; top: 0; left: 0;}
.webDetail .webBox .webPcFrame .webMainImg{width: 100%; height: 75%; position: relative; overflow: hidden;}
.webDetail .webBox .webPcFrame .webMainImg img{width: 92%; left: 50%; transform: translateX(-50%);}


/* mobile frame style */
.webDetail .webBox_m{width: 100%; height: 600px; margin-top: 20px; position: relative;}
.webDetail .webBox_m .webMobileFrame{width: 98%; height: 100%;}
.webDetail .webBox_m .webMobileFrame img{width: 100%; position: absolute; top: 0; left: 0;}
.webDetail .webBox_m .webMobileFrame .webMainImg_m{width: 43%; height: 100%; position: relative; overflow: hidden; margin: auto; top: 10px;}
.webDetail .webBox_m .webMobileFrame .webMainImg_m img{top: 0px; left: 0;}




/* *******************************
app page style
********************************* */
.appBoxes .appBox,
.appBoxes .appBox-sizer{width: 25%;}
.appBoxes .appBox{padding: 5px;}
.appBoxes .appBox>div{padding: 5px; border: 1px solid #d0af51; display: flex; flex-direction: column; _justify-content: center; text-align: center;}
.appBoxes .appBox>div h2{color: #d0af51; font-weight: 600; padding: 5px 0;}
.appBoxes .appBox>div a{width: 100%; text-align: center; padding: 10px 0; border: 1px solid #d0af51; background: #d0af51; color: #fff; }

.appBoxes .appBox img{width: 100%;}




/* **********************************
app detail page style
************************************* */
.appFramebox{width: 50%; position: relative;margin: 0 auto 25px;}
.appFramebox img{width: 95%; margin: auto;}

.appFramebox>span{position: absolute; display: block; background: #ddd;}
.appFramebox>span.frameTop{width: 100%; height: 30px; top:0; left: 0; background: url(/Gold/img/frame_top.png) no-repeat top center; background-size: cover;}
.appFramebox>span.frameLeft{height: 100%; width: 20px; top:0; left: 0; background: url(/Gold/img/frame_right.png) no-repeat left center; background-size: cover;}
.appFramebox>span.frameRIght{height: 100%; width: 20px; top:0; right: 0; background: url(/Gold/img/frame_left.png) no-repeat right center; background-size: cover;} 
.appFramebox>span.frameBottom{width: 100%; height: 30px; bottom: 0; right: 0; background: url(/Gold/img/frame_bottom.png) no-repeat bottom center; background-size: cover;}


.lSAction{display: none;}