@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


*{margin: 0; padding: 0; box-sizing: border-box;}
ol, ul{list-style: none;}
body{font-size: 14px; font-family: 'Open Sans', sans-serif; }
.clear:after{clear: both; display: block; content: '';}
.center{width: 100%; height: auto; max-width: 1140px; margin: auto;}
a{text-decoration: none; color:#111;}
img{display: block;}
button, input, textarea{outline: 0; font-family: 'Open Sans'; -webkit-appearance:none; border-radius: 0;}
input::placeholder, textarea::placeholder{color: #d0af51;}
input:focus, textarea:focus{background:#f8f8f8;}



/* --------------------------------------------------------------- */
/* general common section style */
.contents{padding: 50px 0;}  /*섹션마다 반복되는 큰 틀*/

/* 버튼 공통 스타일 */
a.commonBtn,
button.commonBtn{
  display: inline-block;
  padding: 10px 0px;
  border: 1px solid #d0af51;
  color: #d0af51;
  text-transform: uppercase;
  width: 30%;
  text-align: center;
  transition: all 0.4s;
  background: #fff;
  margin-top: 10px;;
}



/*  common title style */
.title{width: auto; height: auto; float: left;} 
.title h2{font-size: 50px; font-weight: 300; text-transform: uppercase;} 
.title .linkBox{width: 100%; display: flex; align-items: center;} /*라인과 텍스트를 정렬하기 위해 링크박스 클래스로 감싼것!!*/
.title .line{width: 10%; display: block; height: 1px; background: #d0af51; float: left; transition: all 0.4s;}
.title a{display: block; width: 40%; float: left; text-align: right; font-size: 12px; font-weight: 400; color:#d0af51; text-transform: uppercase; transition: all 0.4s;}

.title:hover .line{width: 60%;}
.title:hover a{text-decoration: underline;}



/* about, contact, sub pages title style */
.hasTitle .title{float:none; text-align:center; margin-bottom: 50px;}
.hasTitle .title h2{color:#333;}

.hasTitle .title .subTit{width:100%; height:auto; display:flex; flex-direction: column; justify-content: center; align-items: center; position:relative;}
.hasTitle .title .subTit .subLine{display:block; width:20%; height:1px; background:#333; margin:10px auto;}
.hasTitle .subTit a.subLink{width:12%; float:none; margin:auto; text-align:center; position:absolute; top:0; color:#333; font-weight:600; background:#fff; text-decoration:none;}
.hasTitle .subTit a.subLink:hover{color:#d0af51;}






/* common overlay style */
.overlay{position : absolute; width: 100%;  display: block; left: 0; top: 0; height: 100%; z-index: 1;}  /*부모가 relative여야함*/




/* ----------------------------------------------------------- */
/* top main style */
.topMain{width: 90%; margin: auto; height: auto; background: #ddd;}
.topMain .bannerBox{width: 40%; float: left; overflow: hidden; height: 50vh; position: relative; background: url(../img/banner.jpg) no-repeat center center; background-size: cover;} 
/* .topMain .bannerBox img{width: 100%;} */
.topMain .headerBox{width: 60%; float: right; overflow: hidden; height: 50vh; position: relative; background: url(../img/header-img.jpg) no-repeat center center; background-size: cover;}
/* .topMain .headerBox img{width: 100%;} */


.topMain .bannerBox>.overlay{background: rgba(0,0,0,0.6);}
.topMain .headerBox>.overlay{background: rgba(208, 175, 81, 0.4);}

.topMain .bannerBox .slogan{z-index:2;position: absolute; color: #fff; right: 40px; top: 50%; transform: translateY(-50%); width: 100%; text-align: right;} /*absolute는 padding 무시해서 right를 40px을 주었음*/
.topMain .bannerBox .slogan h2{font-size: 3.5vw; color: #d0af51;} /*vw : 사이즈 줄이면 글자 크기도 같이 줄어든다*/
.topMain .bannerBox .slogan h2 b{color: #fff;}
.topMain .bannerBox .slogan p{font-size: 12px; letter-spacing: 2px; color: #bbb; display: inline-block; font-weight: 600;}
.topMain .bannerBox .slogan hr{width: 18%; display: inline-block; margin-bottom: 3px; border: 0;border-bottom: 1px solid #eee;}


/* header sns style */
.topMain .loginWrap{width: 40%; height: 60px; background: #ddd; float: left; display: flex; justify-content: space-between;} 
.topMain .logBox{width: 100%; height: 60px; display: flex; align-items: center; justify-content: flex-end;}
.topMain .logBox a{display: inline-block; padding: 0 20px; color: #fff; border-left: 1px solid #fff; font-weight: 700; transition: all 0.4s;}
.topMain .logBox a:hover{color: #333;}
.topMain .logBox a:first-child{border-left: 0; }


/* .topMain .sns ul{width: 40%; float: right; display: flex; justify-content: space-evenly; align-items: center; height: 60px;} */
/* .topMain .sns ul li{float: left; margin-left: 10px;} */
/* .topMain .sns ul i.fa{color: #fff; background: #ccc; font-size: 16px; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 50%;}
.topMain .sns ul i.fa:hover{background: #bbb;} */

/* header gnb style */
.topMain .gnb{width: 60%; height: 60px; background: #111; float: right; }
.topMain .gnb ul{}
.topMain .gnb ul li{float: left; height: 60px; padding: 0 35px; display: flex; align-items: center; transition: all 0.4s;}
.topMain .gnb ul li:hover,
.topMain .gnb ul li.active{background: #333;}
.topMain .gnb ul a{color: #d0af51; font-size: 16px; font-weight: 400;}


/* mobile menu style */
.mobileMenu{width: 30px; height:30px; border: 1px solid #d0af51; _color: #d0af51; display: flex; justify-content: center; align-items: center; float: right; display: none;}
.mobileMenu i.fa{color:#d0af51; font-size:22px; }



/* ------------------------------------------------------------- */
/* new arrivals section style */

.arrivals .arrivalBox{width: 100%; height: auto; float: left; display: flex; justify-content: space-between; padding: 50px 0 0;}
.arrivals .arrivalBox .arrivalCon{width: 30%; height: auto;  _float: left; _margin-left: 5%; position: relative; overflow: hidden;} /*디스플레이가 플렉스인 상태에서 가로 30%을 주면 사진 3장이 자리를 동일하게 나눠가진다*/
.arrivals .arrivalBox .arrivalCon img{width: 100%;}
/*width + margin-left가 100%*/
/* .arrivals .arrivalBox .arrivalCon:first-child{margin-left: 0;} */

.arrivals .arrivalBox .arrivalCon .overlay{background: rgba(208, 175, 81,0.4);}


.arrivals .arrivalCon .arrivalTxt,
.arrivals .arrivalCon .best{position: absolute; width: 100%; left: 0; text-align: center; z-index: 5; top: 50%; transform: translateY(-50%); color: #fff;}
.arrivals .arrivalCon .arrivalTxt h2{font-family: 'Dancing Script'; font-size: 30px;}
.arrivals .arrivalCon .arrivalTxt em{font-style: normal; font-weight: 400;
font-size:16px; letter-spacing: 2px;}

.arrivals .arrivalCon .best a{display: inline-block; color: #fff; font-size: 16px; padding: 5px 50px; border: 1px solid #fff; transition: all 0.4s;}
.arrivals .arrivalCon .best a:hover{background: #d0af51; border: 1px solid #d0af51;}
.arrivals .arrivalCon .best p{font-size: 25px; font-weight: 700; letter-spacing: 2px;}


/* ------------------------------------------------------------ */

/* product type section style */
.product{width: 100%; background: #ddd;}
.product .productBox{width: 100%; height: auto; float: left; margin: 50px  0 0; display: flex;}
.product .productBox>div{width: 50%; height: auto; float: left;}
.product .productBox>div>.productImg{width: 50%; padding: 5px; position: relative;}
.product .productBox>div>.productImg>img{width: 100%; transition: all 0.4s;}

.product .productImg>.outline{position: absolute; width: 80%; height: 80%; left: 10%; top: 10%; border: 1px solid #d0af51;display: flex; align-items: center; justify-content: center; opacity: 0; transition: all 0.4s;}

.product .productImg>.outline i.fa{width: 40px; height: 40px; border: 1px solid #d0af51; display: block; color: #d0af51;font-size: 25px; border-radius: 50%;display: flex; align-items: center; justify-content: center;}
.product .productImg:hover>img{filter: blur(5px); }
.product .productImg:hover>.outline{opacity: 1;}


.product .productBox .boxLeft{display: flex; flex-wrap: wrap;}
.product .productBox .boxRight{padding: 5px;}
.product .boxRight .productTxt{width: 100%; height: 100%; border: 1px solid #d0af51; padding: 3px;}
.product .boxRight .productTxt>div{width: 100%; height: 100%; border: 1px solid #d0af51; background: #fff; padding: 30px; display: flex; justify-content: center; flex-direction: column;}
.product .boxRight .productTxt>div>h2{font-size: 30px; font-weight: 400; transform: translateY(30px); opacity: 0; animation: slideUp 0.4s 1; animation-fill-mode: forwards;}


.product .boxRight .productTxt>div>p{margin: 15px 0; font-size: 16px; line-height: 1.6; font: 300; transform: translateY(30px); opacity: 0; animation: slideUp 0.4s 1; animation-fill-mode: forwards; animation-delay: 0.4s;}
.product .boxRight .productTxt>div>a{display: inline-block; padding: 10px 0px; border: 1px solid  #d0af51; color: #d0af51; text-transform: uppercase; width: 40%; text-align: center; transition: all 0.4s; transform: translateY(30px);  opacity: 0; animation: slideUp 0.4s 1; animation-fill-mode: forwards; animation-delay: 0.8s;}
.product .boxRight .productTxt>div>a:hover{background: #d0af51; color: #fff; }



/* Ours section style */
.fashionBox{width: 100%; height: auto; float: left; display: flex; padding: 50px 0;}
.fashionBox.men{border-bottom: 1px solid #ddd;}
/*fashionBox 자체에 볼더바텀을 넣어주면 공통 속성이 되어서 womenBox 밑에도 볼더바텀이 생기기 때문에 .men을 따로 잡아서 볼더를 넣어준다!!!!!*/

.fashionBox .fashionTxt{display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 20px; text-align: center;}
.fashionBox .fashionTxt h2{color: #333; font-size: 24px; font-weight: 400;}
.fashionBox .fashionTxt h2 em{font-style: normal; color: #d0af51;}
.fashionBox .fashionTxt p{margin: 15px 0; font-weight: 400;}
.fashionBox .fashionTxt a{display: inline-block; padding: 10px 40px; border: 1px solid #d0af51; color: #d0af51; transition: all 0.4s;}
.fashionBox .fashionTxt a:hover{color: #fff; background: #d0af51;}


.fashionBox>div{width: 25%; padding: 10px;}
.fashionBox>div>div{padding: 10px; border: 1px solid #d0af51; text-align: center;}
.fashionBox>div>div>img{width: 100%;}
.fashionBox>div>div>h2{color: #d0af51; font-weight: 600; padding: 5px 0; font-size:20px;}
.fashionBox>div>div>em{color: #838383; font-style: normal;}
.fashionBox>div>div>a{display: block; width: 100%; height: auto; padding: 5px 0; border: 1px solid #d0af51; margin-top: 15px; color: #d0af51; transition: all 0.4s;}
.fashionBox>div>div>a:hover{color: #fff; background: #d0af51;}





/* ------------------------------------------- */
/* about section style */

.about{background: #181818; border-bottom: 1px solid #333;}

.hasTitle.about .title h2{color: #d0af51;}
.hasTitle.about .title .subTit .subLine{display: block; width: 20%; height: 1px; background: #fff; margin: 10px auto;}
.hasTitle.about .subTit a.subLink{color: #fff; background:#181818;}

/* 필요없음
.hasTitle .title{float: none; text-align: center;}
.hasTitle .title h2{color: #d0af51;}
.hasTitle .title .subTit{width: 100%; height:auto; display: flex; flex-direction: column;justify-content: center; align-items: center;position: relative;}
.hasTitle .title .subTit .subLine{display: block; width: 20%; height: 1px; background: #fff; margin: 10px auto;}
.hasTitle .subTit a.subLink{width: 12%; float: none; margin: auto; text-align:  center; position: absolute; top: 0; color: #fff; font-weight: 600; background:#181818; text-decoration: none;}
.hasTitle .subTit a.subLink:hover{color: #d0af51;} */


.about .aboutTxt{width: 100%; height: auto; padding: 80px 0 50px; text-align: center; }
.about .aboutTxt p{font-weight: 300; color:#838383; line-height: 1.6;} 

.about .aboutTxt p.address{margin-top: 15px; color: #ccc;}
.about .aboutTxt p.address a{color: #d0af51; font-weight: 400;}

.about .sns{width: 100%; height: auto; margin: 20px 0 ; display: flex; align-items: center; justify-content: center;}
.about .sns i.fa{width: 30px; height: 30px; color: #fff; margin: 5px; border: 1px solid #fff; display:flex; align-items: center; justify-content: center; transition: all 0.4s;}
.about .sns i.fa:hover{background: #fff; color: #333; }


/* ------------------------------------- */
/* contact section style */


/* contact title style */
/* .hasTitle .title{float:none; text-align:center;}
.hasTitle .title h2{color:#333;}

.hasTitle .title .subTit{width:100%; height:auto; display:flex; flex-direction: column; justify-content: center; align-items: center; position:relative;}
.hasTitle .title .subTit .subLine{display:block; width:20%; height:1px; background:#333; margin:10px auto;}
.hasTitle .subTit a.subLink{width:12%; float:none; margin:auto; text-align:center; position:absolute; top:0; color:#333; font-weight:600; background:#fff; text-decoration:none;}
.hasTitle .subTit a.subLink:hover{color:#d0af51;} */



/* contact box style */

.contact .contactBox{width: 100%; height: auto; margin: 50px 0; display: flex;}
.contact .contactBox>div{width: 50%; padding: 5px;} /*--> 폼박스와 맵박스 모두 패딩이 들어가야하므로 >div에 적어줌*/

/* contact map style */
.contact .contactBox .mapBox{}
.contact .contactBox .mapBox .map{border: 1px solid #d0af51; -webkit-column-rule-width: 100%; height: 100%;} /*.contactBox에 flex를 주었기 때문에 formbox의 높이를 동일하게 따라간다*/
.contact .contactBox .mapBox .map iframe{width: 100%; height: 100%; border: 0;} 


/* contact form style */
.contact .contactBox .formBox{}


.contact .formBox .form{border: 1px solid #d0af51; padding: 10px;}

.contact .formBox .form input,
.contact .formBox .form textarea{display: block; padding: 15px; border: 1px solid #d0af51; border-radius: 0; outline: 0;}

.contact .formBox .form>p.subject{margin: 10px 0;}
.contact .formBox .form .nameMail{width: 100%; height: auto; display: flex;justify-content: space-between;}
.contact .formBox .form .nameMail>input{width: calc(50% - 5px);}
.contact .formBox .form .subject>input{width: 100%;}
.contact .formBox .form .message>textarea{width: 100%; resize: none; height: 300px;}


.contact .formBox .form a{display: inline-block; width: 100%; color: #d0af51; padding: 15px 0; 
border: 1px solid #d0af51; text-align: center;transition: all 0.4s; font-weight: 400; margin-top: 10px;}
.contact .formBox .form a:hover{background: #d0af51; color: #fff;}


/* ----------------------------------------------- */
/* footer style */
footer{width: 100%; height: auto; background: #181818; text-align: center;}
footer p{color: #fff; text-transform: uppercase; font-weight: 300; padding: 30px ;
}
footer p span{color: #d0af51; font-weight: 400;}